body {
    background-color: #0042aa;
}

#aics {
    color: white;
    margin-left: 51%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 30px;
    margin-top: 25px;
    cursor: default;
}

#logo {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 520px;
	top: 10px;
	overflow: visible;
}

.header-bar {
    position: relative;
    margin-top: 60px;
    margin-left: -0.3%;
}

#footer {
    position: fixed;
    margin-top: 80px;
    margin-left: -0.3%;
}

#inquiries {
	color: white;
    margin-left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: larger;
    margin-top: 180px;
    cursor: default;
}

.app-form {
    margin-left: 100px;
}

.app-form-first-column {
    margin-left: 30px;
    margin-top: 20px;
}

.app-form-first-column #schedule {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#schedule label {
    color: #fab830;
}

.app-form-first-column #strand {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#strand label {
    color: #fab830;
}

.app-form-first-column #mode {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#mode label {
    color: #fab830;
}

.app-form-first-column #sex-status {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#sex-status label {
    color: #fab830;
}

.app-form-second-column {
    margin-left: 420px;
    margin-top: -33.3%;
}

.app-form-second-column #last-name {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-second-column #first-name {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-second-column #middle-name {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-second-column #lrn {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-second-column #birthdate {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-second-column #birthplace {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-second-column #cp-number {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-third-column {
    margin-left: 630px;
    margin-top: -30.4%;
}

.app-form-third-column #nationality {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-third-column #fb-name {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-third-column #religion {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#religion label {
    color: #fab830;
}

.app-form-third-column #guardian {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-third-column #number-guardian {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fourth-column {
    margin-left: 850px;
    margin-top: -30%;
}

.app-form-fourth-column #mother {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fourth-column #father {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fourth-column #elem {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fourth-column #end-elem {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fourth-column #refer {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fourth-column #end-jhs {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fifth-column {
    margin-left: 1080px;
    margin-top: -30.4%;
}

.app-form-fifth-column #section {
    color: #fab830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.app-form-fifth-column #jhs-school {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#jhs-school label {
    color: #fab830;
}

.app-form-fifth-column button {
    width: 180px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fab830;
    color: white;
    text-decoration: none;
}

.app-form-fifth-column button:hover {
    background-color: white;
    color: #fab830;
    text-decoration: underline;
}
